<template id="text-card-template">
  <style>
    .text-card_actions.hide,
    .hide {
      display: none;
    }

    .text-card_content {
      background-color: none;
      text-align: left;
      padding: 0 5px;
    }
  
    .text-card_title {
      text-align: center;
    }
    .text-card_actions {
      display: flex;
      justify-content: flex-end;
      padding: 10px 0 0 0;
      width: 100%;
    }

    .text-card_title[contenteditable="true"],
    .text-card_content[contenteditable="true"] {
      background-color: #f7f4f4;
      padding: 5px;
      border-radius: 2px;
    }

    .new.text-card_title[contenteditable="true"],
    .new.text-card_content[contenteditable="true"] {
      background-color: #ffdead6e;
    }

    .text-card_content:not([contenteditable="true"]) {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      cursor: default;
    }
    
    .text-card_title:focus,
    .text-card_content:focus {
      outline: 0;
    }

    [data-type="text"] {
      text-align: justify;
    }

    [data-type="lyrics"] {
      text-align: center;
    }
  </style>
  <h2 id="<%= id %>-title" class="text-card_title"><%= title %></h2>
  <div id="<%= id %>-content" class="text-card_content"><%= content %></div>
  <div id="<%= id %>-actions" class="text-card_actions"></div>
  <input id="<%= id %>-type" type="hidden" name="<%= id %>-type" value="<%= type %>" />
</template>
