<template id="app-content-template">
  <style>
    
      .fetching {
        display: flex;
      }

      #app-content_content {
        column-count: 2;
        padding: 180px 100px 0 100px;
      }

      .app-content_item {
        display: inline-block;
        width: 100%;
        padding: 10px;
      }
      .loader-main {
        height: 500px;
        width: 100%;
        line-height: 500px;
        text-align: center;
        font-size: 20px;
      }

      @media (min-width: 1370px) {
        #app-content_content {
          column-count: 3;
        }
      }

      @media (max-width: 910px) {
        #app-content_content {
          column-count: 1;
          padding: 180px 100px 0 100px;
        }
      }

      @media (max-width: 500px) {
        #app-content_content {
          padding: 180px 50px 0 50px;
        }
      }
  </style>
  <div id="app-content_content" class="fetching">
    <p class="loader-main">Loading...</p>
  </div>
</template>
