<template id="app-login-template">
  <style>
      .app-login-content {
        position: fixed;
        top: 0;
        right: 0;
      }

      .app-login-btn-act {
        background-color: rgba(240, 248, 255, 1);
        padding: 10px;
        margin: 20px;
        border: 0;
        cursor: pointer;
      }
      .app-login-btn-act:hover {
        background-color: rgba(220, 239, 255, 1);
      }

      .app-login-action-login-send {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
      }

      .app-login-action-login-send span {
        float: right;
        margin: 20px;
        padding: 10px;
        background-color: white;
        border-radius: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
      }
      .app-login-action-login-send span:hover {
        background-color: #dadada;
      }

      .app-login-action-login-send label {
        margin: 20% 0 20px 0;
        color: white;
        display: block;
      }

      .app-login-action-login-send input {
        padding: 10px 20px 10px 20px;
        border: 0;
      }

      .hide {
        display: none;
      }
  </style>
  <div class="app-login-content">
    <form id="app-login-form" class="app-login-action-login-send hide">
      <span id="app-login-btn-close">X</span>
      <label for="app-login-input">Enter your email to be able to act.</label>
      <input id="app-login-input" type="email" placeholder="E-mail address" />
      <button id="app-login-btn-send" class="app-login-btn-act">Send</button>
      <p><i>(No spams. No use.)</i></p>
    </form>
    <div id="app-login-action-login" class="app-login-btn-act">LOGIN</div>
    <div id="app-login-action-logout" class="app-login-btn-act">CONNECTED</div>
  </div>
</template>
