<template id="text-icon-template">
  <style>
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    
    cursor: pointer;
    color: rgba(30, 30, 30, 0.3);
  }

  .hide {
    display: none;
  }

  .text-icon-digits {
    color: rgba(30, 30, 30, 0.7);
    font-family: monospace;
    margin-left: -5px;
    margin-right: 10px;
  }

  /* Specific */
  [data-type][data-active="true"]:not([data-enabled="false"]),
  [data-type]:not([data-enabled="false"]):not([data-highlighted="true"]):hover {
    color: rgba(30, 30, 30, 1);
  }

  [data-enabled="false"] {
    color: rgba(30, 30, 30, 1);
    cursor: default;
  }

  [data-highlighted="true"] {
    cursor: default;
  }

  [data-type="favorite"][data-highlighted="true"] {
    color: rgb(245, 118, 150)
  }

  [data-type="close"][data-highlighted="true"] {
    color: rgb(90, 109, 255)
  }

  [data-type="brightness_1"] {
    width: 100%;
    font-size: 11px;
    text-align: center;
  }

  [data-type="save"] {
    margin-right: 12px;
    color: rgb(2, 160, 2)
  }
  [data-type="save"].unsaved {
    color: rgb(207, 0, 0)
  }

  </style>
  <i id="text-icon-i" class="material-icons"></i>
  <span class="text-icon-digits"></span>
</template>
