<template id="app-header-template">
  <style>
    .app-header_content {
      position: fixed;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.95);
    }
    .app-header_title {
      width: 300px;
      margin: 30px auto 10px auto;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(30, 30, 30, 1);
      text-align: center;
    }
    .app-header_date {
      margin: 20px auto 0 auto;
      padding-bottom: 35px;
      text-align: center;
      color: rgba(180, 180, 180, 1);
      border-bottom: 1px solid rgba(210, 210, 210);
      font-size: 14px;
      font-style: italic;
      font-weight: 200;
    }
  </style>
  <div class="app-header_content">
    <h1 class="app-header_title"><%= title %></h1>
    <h2 class="app-header_date"><%= date %></h2>
  </div>
</template>
